<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Tax History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .invalid-feedback {
            display: none;
        }
        .additional-fields {
            display: none;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Create Tax History</h1>
    <form id="taxesHistoryForm" th:action="@{/CreateTaxesHistory}" method="post" class="mt-4">

        <div class="mb-3">
            <label for="objectId" class="form-label">Object:</label>
            <select id="objectId" name="objectId" class="form-control" required>
                <option th:each="object : ${objects}" th:value="${object.id}" th:text="${object.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="yearOfCalculation" class="form-label">Year of Calculation:</label>
            <input  type="number" id="yearOfCalculation" name="yearOfCalculation" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="taxId" class="form-label">Tax:</label>
            <select id="taxId" name="taxId" class="form-control" required>
                <option value="" disabled selected>Select a substance</option>
                <option th:each="tax : ${taxes}"
                        th:value="${tax.id}"
                        th:data-tax-type="${tax.taxType}"
                        th:text="${tax.substance.name} + ' (' + ${tax.taxType} + ')'"></option>
            </select>
        </div>

        <!-- Fields for Water Tax -->
        <div id="waterTaxFields" class="additional-fields">
            <div class="mb-3">
                <label for="Kos" class="form-label">Kos:</label>
                <input type="number" id="Kos" name="Kos" class="form-control">
            </div>
        </div>

        <!-- Fields for Storage Tax -->
        <div id="storageTaxFields" class="additional-fields">
            <div class="mb-3">
                <label for="Kt" class="form-label">Kt:</label>
                <input type="number" id="Kt" name="Kt" class="form-control">
            </div>
            <div class="mb-3">
                <label for="Ko" class="form-label">Ko:</label>
                <input type="number" id="Ko" name="Ko" class="form-control">
            </div>
        </div>

        <div id="radioactiveTaxFields" class="additional-fields">
            <div class="mb-3">
                <label for="rns" class="form-label">RNS:</label>
                <input type="number" id="rns" name="rns" class="form-control">
            </div>
            <div class="mb-3">
                <label for="c1hs" class="form-label">C1HS:</label>
                <input type="number" id="c1hs" name="c1hs" class="form-control">
            </div>
            <div class="mb-3">
                <label for="v1hs" class="form-label">V1HS:</label>
                <input type="number" id="v1hs" name="v1hs" class="form-control">
            </div>
            <div class="mb-3">
                <label for="c2hs" class="form-label">C2HS:</label>
                <input type="number" id="c2hs" name="c2hs" class="form-control">
            </div>
            <div class="mb-3">
                <label for="v2hs" class="form-label">V2HS:</label>
                <input type="number" id="v2hs" name="v2hs" class="form-control">
            </div>
        </div>

        <!-- Fields for Radioactive Storage Tax -->
        <div id="radioactiveStorageFields" class="additional-fields">
            <div class="mb-3">
                <label for="S" class="form-label">S:</label>
                <input type="number" id="S" name="S" class="form-control">
            </div>
            <div class="mb-3">
                <label for="V" class="form-label">V:</label>
                <input type="number" id="V" name="V" class="form-control">
            </div>
            <div class="mb-3">
                <label for="T" class="form-label">T:</label>
                <input type="number" id="T" name="T" class="form-control">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" th:href="@{/TaxesHistory}" role="button">Back to Tax History</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById('taxId').addEventListener('change', function() {
        const selectedTaxType = this.options[this.selectedIndex].dataset.taxType;

        document.querySelectorAll('.additional-fields').forEach(field => {
            field.style.display = 'none';
        });

        switch (selectedTaxType) {
            case 'Water':
                document.getElementById('waterTaxFields').style.display = 'block';
                break;
            case 'Storage':
                document.getElementById('storageTaxFields').style.display = 'block';
                break;
            case 'Radioactive':
                document.getElementById('radioactiveTaxFields').style.display = 'block';
                break;
            case 'RadioactiveStorage':
                document.getElementById('radioactiveStorageFields').style.display = 'block';
                break;
            default:
                break;
        }
    });
</script>
</body>
</html>
